<div class="bg-app bg-black h-md-600p h-xs-400p align-items-center d-flex text-white">
  <img src="{{ base_url() }}/__/images/home-img.png" class="background-image" />
  <div class="container">
    <h1 class="display-4">Hello World!</h1>
  </div>
</div>