<div class="card-panel text-center p-5">
  <h1 class="h2">404 - Page Not Found</h1>
  <p class="my-5"><strong>We're working on getting you to the correct location.</strong> However, you may have clicked on a broken link or mistyped the URL. We have also moved many pages to better help visitors find needed information.</p>
  <a href="/" class="btn btn-color1 text-white">Visit Home</a>
</div>