{% if not isTab %}
<div class="sidebar-logo text-center">
  <a href="/dashboard" class="logo">
    <img src="/__/images/logo.png" alt="{{ organization }} Logo" class="img-fluid">
  </a>
</div>
{% endif %}