<nav class="container py-3">
  <div class="row align-items-center">
    <div class="col-5 col-md-4">
      <div class="navbar-header pr-3">
        <a href="/">
          <img src="/__/images/logo.png" alt="Logo" class="img-fluid">
        </a>
      </div>
    </div>
    <div class="col-7 col-md-8 ml-right">
      <div class="float-right">
        <a href="#" class="btn btn-color1">I want to</a>
      </div>
    </div>
  </div>
</nav>